.image {
    background-image: url("../../assets/baselique1.jpg");
    background-position: center;
    background-size: cover;
    padding: 15rem 15rem;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.image h2 {
    margin: 0 auto;
    font-size: 3em;
    background: rgb(66, 70, 64);
    padding: 5px;
}

.texte {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    padding: 60px;
}

.composant {
    line-height: 2rem;
    max-width: 20rem;
}

.composant h1 {
    text-decoration: underline;
}

ul li span {
    font-size: 1em;
    text-decoration: none;
    color: rgb(136, 130, 130);
}

ul>li {
    list-style-type: none;
    font-size: 1.2em;
}

.texte h1 {
    text-align: center;
}

.texte p {
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.grande {
    width: 100%;
    display: flex;
    text-align: "";
    justify-content: space-between;
    padding-inline: 5rem;
    /* margin: 30px;*/
    margin-top: 80px;
}

.grande .petit1 {
    position: relative;
    width: 25%;
    min-height: 500px;
    margin-top: 60px;
}

.bodyformulaire {
    margin: 00px;
    padding: 0px;
    /*  top: 50%;

/*transform: translate(-50%, -50%);*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 500px;
}

form {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

form h1 {
    font-size: 20px;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: slateblue;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

form .corps-formulaire .groupe {
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 150px;
}
/**
form .corps-formulaire .gauche .groupe input {
margin-top: 8px;
padding: 10px 5px 10px 30px;
border: 1px solid #c9c9c9;
outline-color: slateblue;
border-radius: 5px;
}

form .corps-formulaire .gauche .groupe input i {
position: absolute;
left: 0px;
top: 25px;
padding: 9px;
color: slateblue;
}
**/

form .corps-formulaire .droite {
    margin-left: 15px;
    width: 100%;
    margin-bottom: 60px;
}

form .corps-formulaire .droite .groupe {
    height: 100%;
}

form .corps-formulaire .droite .groupe textarea {
    margin-top: 7px;
    padding: 10px 5px 60px 5px;
    margin: px;
    background-color: rgb(253, 250, 250);
    border: 2px solid slateblue;
    outline: none;
    border-radius: 10px;
    resize: none;
    height: 53%;
    width: 250%;
}

form .piedformulaire button {
    margin-top: 20px;
    background-color: #4285f4;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .piedformulaire button:hover {
    transform: scale(1.05);
}

@media screen and (max-width:920px) {
    form .corps-formulaire .droite {
        margin-left: 0px;
    }
}

.composant ul {
    margin: 40px;
    text-decoration: solid;
}

.composant h1 {
    text-align: center;
    color: white;
    text-decoration: none;
}

.texte .composant h1 {
    font-size: 1.1rem;
    background: #4285f4;
    padding: 20px 30px;
    margin: 20px 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}
/*.texte .composant ul{
font-size: 1.2rem;
background: rgb(136, 130, 130);
padding: 20px 30px;
cursor: pointer;
position: relative;
z-index: 5;
}*/

.texte .composant h1 ::before {
    content: '';
    position: absolute;
    left: 10px;
    height: 100px;
    width: 5px;
    transition: all .4s;
}

.texte .composant h1:hover {
    width: 100%;
}

.texte .composant h1:hover {
    transform: translateX(20px);
}

.texte .composant ul li {
    margin-top: 15px;
}

.texte .composant ul li ::before {
    content: '';
    position: absolute;
    left: 10px;
    height: 100px;
    width: 5px;
    transition: all .4s;
}

.texte .composant ul li:hover {
    width: 100%;
}

.texte .composant ul li:hover {
    transform: translateX(20px);
}

.texte .composant ul li {
    margin-top: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*===== OBLIGATOIRE =====*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ===== OBLIGATOIRE =====*/

#section {
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.form-wrapper {
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    margin-top: 150px;
}

img {
    width: 100%;
}

.advises {
    width: max-content;
}

.inner-advises {
    text-align: center;
}

.box-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.box {
    width: 100%;
    max-width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 275px;
    border-radius: .5rem .5rem 50% 50%;
    top: 0;
    left: 0;
    background-color: #4285f4;
}

.inner-box {
    width: 100%;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 9999;
    border: 2px solid #4285f4;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #eaeeee;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
}

.picture img {
    width: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username {
    color: #fff;
}

.stars {
    width: 100%;
    max-width: 200px;
    min-height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    position: relative;
}

.stars-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i {
    position: relative;
    z-index: 999999;
}

.comment {
    font-size: 18px;
}

body, html{
    overflow: auto;
}